.header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}
.logo img {
    height: 100px;
    width: 100px;
    /* border: 1px solid red; */
}
.res-logo{
    width: 100%;
}
.res-card:hover {
    border: 1px solid #ccc;
    cursor: pointer;
}
.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.filter-btn {
    padding: 10px 20px;
    margin: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.filter-btn:hover {
    background-color: #e0e0e0;
}
.nav-items a {
  text-decoration: none;
  color: black; /* or use a specific color like #333 */
}